<div id="<%= dom_id check %>">
  <div>
    <strong>Origin:</strong>
    <%= check.origin %>
  </div>

  <div>
    <strong>Destionation:</strong>
    <%= check.destionation %>
  </div>

  <div>
    <strong>Trip date:</strong>
    <%= check.trip_date %>
  </div>

  <div>
    <strong>Truck clearance lights:</strong>
    <%= check.truck_clearance_lights %>
  </div>

  <div>
    <strong>Headlights:</strong>
    <%= check.headlights %>
  </div>

  <div>
    <strong>Level:</strong>
    <%= check.level %>
  </div>

  <div>
    <strong>Leaks:</strong>
    <%= check.leaks %>
  </div>

  <div>
    <strong>User:</strong>
    <%= check.user_id %>
  </div>

</div>
